.propertiesContainer {
    position: relative;
    width: 100%;
    height: 90vh;
 
    background-color: rgb(12, 17, 87);
}

/* filter section*/
.searchFilter {
    display: flex;
    margin-top: 1em;
    flex-direction: column;
    
    justify-content: space-between;
    gap: 30px;
 

}
.propertiesContent h3{

 
    text-align: center;
    padding: 0;
    font-size: 1.5rem;
    color: white;
}
.searchFilter input {
    font-size: 1.1rem;
    text-align: center;
    height: 25px;
    border: none;
}

/*Filter dropdown */

.propertDropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #9C27B0;
    color: white;
    padding: 10px;
    width: 220px;
    font-size: 16px;
    border: 1px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(-20px);
}
.dropdown-content.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-content ul {
    color: black;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
        gap: 10px;
}
.dropdown-content ul li:hover{
    cursor: pointer;
}
/*Filter drop down ends here*/
/* filter ends*/
.propertiesContent {  
    height: 70%;
    width: 90%;
    margin: 0 auto;
  
    border: 1px solid red;
  
}